body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(245, 85%, 5%);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#heading{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

#display{
    display: flex;
    flex-direction: column;
    background-color: hsl(160, 78%, 25%);
    margin: 10px 10px;
    width: 350px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
}

#input{
    width: 320px;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    text-align: left;
    background-color: hsl(160, 78%, 25%);
}

#output{
    width: 320px;
    border: none;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    margin-top: 0;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    margin-bottom: 10px;
}

button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: rgb(37, 37, 38);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#ans{
    font-size: 1em;
    
}

.funcBtn{
    font-size: 1em;
}

.funcBtn{
    background-color: hsl(0, 99%, 52%);
}

.funcBtn:hover{
    background-color: hsl(0, 99%, 62%);
}

.funcBtn:active{
    background-color: hsl(0, 99%, 72%);
}

button:hover{
    background-color: hsl(240, 1%, 30%);
}

button:active{
    background-color: hsl(240, 1%, 50%);
}

.operatorBtn{
    background-color: hsl(25, 100%, 50%);
}

.operatorBtn:hover{
    background-color: hsl(25, 100%, 60%);
}

.operatorBtn:active{
    background-color: hsl(25, 100%, 70%);
}

#brand{
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    font-style: italic;
    text-align: center;
    padding: 0 20px;
    
}

